/*Temporary Styles*/

.stage-for-later{
  background-color: rgba(150,150,150,0.5);
  display: block;
  margin-top: 50rem;
  display: static;
}
header{
  background: rgba(255,150,150, 0.5);
}
.banner{
  background-color: rgba(100,100,100, 0.5);
}
.banner-text{
  background-color: rgba(100,250,100,0.5);
}
main {
  background-color: rgba(100,250,250,0.5);
}
.inspire{
  background-color: rgba(100,100,250,0.5);
}
.inspire-text{
  background-color: rgba(175,100,250,0.5);
}
.course-box{
  background-color: rgba(175,175,250,0.5);
  border: 0.5px solid black;
}
.course-box-container {
  background-color: rgba(175,175,250,0.5);
}
.thesis{
  background-color: rgba(100,200,50,0.5);
}
.thesis h2{
  background-color: rgba(255,0,0,0.1);
}
/*Universal Styles*/

/*Header*/
header{
  display: flex;
  align-items: center;
  height: 64px;
}
header img{
  margin-left: 24px;
}
header nav{
  margin-right: 24px;
}
header nav span{
  padding-left: 16px;
}
header h1{
  flex-grow: 1
}
/*Banner*/
.banner{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.banner-image{
  margin: 32px 40px 32px 24px;
}
.banner-text{
  align-self: center;
}
.banner-text h2{
  font-size: 5rem;
}
.banner-text h3{
  font-size: 3rem;
}
.banner-text button{
  font-size: 2rem;
}
/*Main information*/
main {
    display: flex;
}
.inspire{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.inspire-img{
  margin: 32px 24px 32px 0;
}
/*Program Listings*/
.programs h2{
  text-align: center;
  padding: 32px 0;
  align-items: center;
}
.course-box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/*Thesis Exhibit*/
#thesis-header{
  text-align: center;
  padding: 32px 0;
  align-items: center;
  background-color: red;
}
.thesis{
  display: flex;
}
.thesis-video-container{
  display: flex;
  flex-direction: column;
}
.thesis-video video{
  height: auto;
  width: 1104px; /*same width as the man reading*/
  margin-left: 24px
}
/*Footer*/
footer{
  display: flex;
}
footer span{
  display: flex;
  flex-grow: 1;
}
